@charset "UTF-8";

div#tv-radio {
    height: 580px;
    width: 900px;
    margin: auto;
    background: url(../_imagens/radio-tv.png);
}

audio#musica {
    display: block;
    position: relative;
    top: 490px;
    left: 570px;
}

video#filme {
    display: block;
    position: relative;
    top: 65px;
    left: 80px;
    width:450px ;
}